$bgColor: #f8f8f8;
$text: #1b1c21;
@font-face {
  font-family: 'TT Lakes Regular';
  src: url('TTLakes-Regular.eot');
  src: url('TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
    url('TTLakes-Regular.woff') format('woff'),
    url('TTLakes-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  padding: 0;
  margin: 0;
  font-family: TT Lakes Regular, sans-serif;
  background-color: $bgColor;
  color: $text;
}
